GEMINI_API_KEY=AQ.Ab8RN6KACLINuZlB464DB-jI4JRA8LNad2j…………………..?

GEMINI_MODEL=gemini-3.6-flash
DB_URL=
MOCK_MODE=true
MAX_CONTEXT_CHARS=120000
MAX_SQL_ROWS=30
PYTHON_RESULTS_DIR=python_results
AUTO_RUN_PYTHON_SOURCE=false

